[Unit]
Description=Shadowsocks Manager Server

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/ss-manager -u --manager-address /var/run/shadowsocks-manager.sock -c %i start
ExecStop=/usr/local/bin/ss-manager -u --manager-address /var/run/shadowsocks-manager.sock -c %i stop

[Install]
WantedBy=multi-user.target